* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(49, 58, 49);
  color: white;
}
.container {
  min-height: 100vh;
}
button {
  padding: 10px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 50%;
  background-color: rgb(219, 211, 211);
  text-transform: capitalize;
  border-style: none;
}
button:hover {
  border: 5px solid green;
}
.center {
  min-width: 80%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.search {
  width: 100%;
  padding: 10px;
}
input {
  outline-style: none;
}
.center1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
